.tetrisWrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("../../img/2107161_generated.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.stageWrapper {
  display: flex;
  align-items: flex-start;
  padding: 40px;
  margin: 0 auto;
  max-width: 900px;
}
.tetrisInfo {
  width: 100%;
  max-width: 200px;
  display: block;
  padding: 0 20px;
}
